@CHARSET "EUC-KR";

#Tabs ul li{
	display: inline;
	background-color: #0080ff;
	padding: 10px;
}
#Tabs ul li:HOVER{
	background-color: #ff8080;
}
#Tabs ul li a{
text-decoration: none;
color: white;	
}

.member_m{
	font-size: 25px;
	padding: 3px;
	border : 3px solid #0080ff;
	text-decoration: none;
	color: #0080ff;
	border-top-left-radius: 15px; 
	border-bottom-right-radius: 15px; 
}
.member_m:HOVER{
	border : 3px solid #ff8080;
	color: #ff8080;

}
