@CHARSET "EUC-KR";

#doc_list{
width: 1100px;	
}
#doc_bottom a{
	text-decoration: none;
	font-size: 17px;
	color: black;
}

/**************************/
#document{
	width: 1100px;
}

#document_table{
	width: 1100px;
}

#document_table th{
	width: 100px;
	background-color: #0080ff;
	color: white;
	padding: 4px;
}
#doc_btn input{
	width: 100px;
	height: 40px;
	border: 0px;
	color: white;
	background-color: #0080ff;
	font-weight: bold;
}
#doc_btn input:HOVER{

	background-color: #ff8080;

}
/*******************************/
#doc_detail{
	width: 1100px;
}
#document_table02{
	width: 1100px;
}
#document_table02 th{
	width: 100px;
	background-color: #0080ff;
	color: white;
	padding: 7px;
}

#detail_td{
	border-right: 1px solid silver;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}
#doc_btn a{
	padding:10px;
	border: 0px;
	color: white;
	background-color: #0080ff;
	font-weight: bold;
	text-decoration: none;
}

#doc_btn a:HOVER{
	background-color: #ff8080;
}

/********************************/

#doc_update_tb{
	width: 1100px;
}
#doc_update_tb th{
	width: 100px;
	background-color: #0080ff;
	color: white;
	padding: 10px;
}

#update_text{
	padding: 0px;
}
