@CHARSET "EUC-KR";

#task{
	width: 1100px;
}
#task_table{
	width: 1100px;
	
}

#task_table th{
	background-color: #0080ff;
	color: white;
	padding: 10px;
}

#task_table td{
	border-bottom: 1px solid silver;
	padding: 8px;
}
#task_table a{
	text-decoration: none;
	color:#0080ff;
}
#task_table a:HOVER{
	color:#ff8080;
}

#bottom{
	width: 1100px;
}
#bottom a{
	font-size: 16px;
	color: black;
	text-decoration: none;
}
#task_search{
	width: 1100px;
}
#search_btn{
	width: 80px;
	height: 30px;
	color: white;
	font-weight: bold;
	background-color: #0080ff;
	border: 0px;
}
#search_btn:HOVER{

	background-color: #ff8080;

}


/************************************/

.week_label{
	width: 1100px;
	background-color: #0080ff;
	padding:5px;
	font-weight: bold;
	color: white;
	font-size: 20px;
}
#insert_btn input{
	width: 100px;
	height: 40px;
	color: white;
	background-color: #0080ff;
	border: 0px;
	font-weight: bold;
}

#insert_btn input:HOVER{

	background-color: #ff8080;

}

/**********************************/
#detail{
	width: 1100px;
}
#task_table02{
	width: 1100px;
}

#task_table02 th{
	background-color: #0080ff;
	color: white;
	padding: 7px;
}
.detail_td{
	height: 300px;
	border: 1px solid silver;
}
.detail_btn{
	padding:15px 20px;
	background-color: #0080ff;
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.detail_btn:HOVER{

	background-color: #ff8080;

}


/*****************************/
#update{
	width: 1100px;
}

#update_table{
	width: 1100px;
}
#update_table th{
	width: 100px;
	background-color: #0080ff;
	color: white;
	padding: 10px;
}

#update_table td textarea{
	width: 960px;
	height: 280px;
}
#update_table td input{
	border: 0px;
}
#update_bottom input{
	width: 100px;
	height: 40px;
	background-color: #0080ff;
	color: white;
	border: 0px;
}
#update_bottom input:HOVER{

	background-color: #ff8080;

}