<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="koggiri.admin_emp.model.SearchedEmp" alias="SearchedEmp"/>
		<typeAlias type="koggiri.admin_emp.model.Search" alias="Search"/>
		<typeAlias type="koggiri.admin_emp.model.Emp" alias="Emp"/>
		<typeAlias type="koggiri.admin_emp.model.Admin_Member" alias="Admin_Member"/>
		<typeAlias type="koggiri.login.model.Member" alias ="Member"/>
		<typeAlias type="koggiri.noticeboard.model.Board" alias ="Board"/> <!-- 고병휘 -->
		<typeAlias type="koggiri.noticeboard.model.NoticeSearch" alias = "NoticeSearch"/><!-- 고병휘 -->
		<typeAlias type="koggiri.approval.model.AppType" alias="AppType"/> <!-- 결제방법 서버접속 -->
		<typeAlias type="koggiri.approval.model.Dept" alias="Dept"/> <!-- 부서코드 서버접속 -->
		<typeAlias type="koggiri.approval.model.Emp_infomation" alias="Emp_infomation"/> <!-- 사원정보 서버접속 -->	
		<typeAlias type="koggiri.approval.model.Approval" alias="Approval"/> <!-- approval 서버접속 -->	
		<typeAlias type="koggiri.approval.model.ApprovalSearch" alias="ApprovalSearch"/> <!-- approvalSearch 서버접속 -->	
 		<typeAlias type="koggiri.important.model.Imp_Board" alias="Imp_Board"/> <!-- 고병휘  -->
 		<typeAlias type="koggiri.important.model.Imp_Search" alias="Imp_Search"/> <!-- 고병휘  -->
 		<typeAlias type="koggiri.task.model.Task" alias="Task"/> 
		<typeAlias type="koggiri.calendar.model.Event" alias="Event"/>
		<typeAlias type="koggiri.chart.model.Chart" alias="Chart"/><!-- 조직도 -->
		<typeAlias type="koggiri.document.model.Doc_Board" alias="Doc_Board"/><!--고병휘 문서함  -->
		<typeAlias type="koggiri.document.model.Doc_Search" alias="Doc_Search"/> <!-- 고병휘  -->
		

	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle"/>
			</dataSource>
		</environment>		
	</environments>
	<mappers>
		<mapper resource="koggiri/admin_emp/mapper/Emp.xml"/>
		<mapper resource="koggiri/login/mapper/Member.xml"/>
		<mapper resource="koggiri/noticeboard/mapper/Board.xml"/>
		<mapper resource="koggiri/important/mapper/Imp_Board.xml"/>
		<mapper resource="koggiri/approval/mapper/Approval.xml"/>
		<mapper resource="koggiri/task/mapper/Task.xml"/>
		<mapper resource="koggiri/calendar/mapper/Calendar.xml"/>
		<mapper resource="koggiri/chart/mapper/Chart.xml"/>
		<mapper resource="koggiri/document/mapper/Doc_Board.xml"/>

	</mappers>
	
</configuration>
